#about {
    background-color: indianred;
    height: 700px;
    width: 100%;
}

.rectangle-thing {
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 78%);
    clip-path: polygon(100% 0, 0 0, 100% 85%);
    position: absolute;
    background-color: #232323;
    height:600px;
    width:100%;
    z-index: 1;
}
.about-content {
    display: flex;
    justify-content: space-around;
    position: relative;
    background-color: white;
    height: 350px;
    width:50%;
    z-index: 4;
    margin: 0 auto;
    left: 20%;
    bottom: -25%;
    -webkit-box-shadow: 2px 4px 49px 0px rgba(0,0,0,1);
    -moz-box-shadow: 2px 4px 49px 0px rgba(0,0,0,1);
    box-shadow: 2px 4px 49px 0px rgba(0,0,0,1);
}

.profile-img{
  height: 300px;
  width: 300px;
}

.about-profile {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    top: -23%;
    left: -35%;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    transition: all .3s ease-in-out;
    -webkit-box-shadow: 2px 4px 49px 0px rgba(0,0,0,1);
    -moz-box-shadow: 2px 4px 49px 0px rgba(0,0,0,1);
    box-shadow: 2px 4px 49px 0px rgba(0,0,0,1);
}

.about-profile:hover {
    transform: scale(.9);
}
