.contact {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    background-color: indianred; height:700px;
    width: 100%;
    text-align: center;
}

.contact-text {
    font-family: 'Lato', sans-serif;
    font-size: 80px;
    color: white;
}

.icons {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
}

.email-icon {
   transition: all .3s ease-in-out;
}

.email-icon:hover {
  transform: scale(.8);
}

.phone-icon {
   transition: all .3s ease-in-out;
}

.phone-icon:hover {
  transform: scale(.8);
}

.linkdin-icon {
   transition: all .3s ease-in-out;
}

.linkdin-icon:hover {
  transform: scale(.8);
}
